@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/* GRID LAYOUT */

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "left left right"
    "footer footer footer";
  gap: 30px;

  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px;
}
.header {
  grid-area: header;
}
.left {
  grid-area: left;
}
.right {
  grid-area: right;
}
.footer {
  grid-area: footer;
}
@media only screen and (max-width: 600px) {
  .container {
    grid-template-areas:
      "header"
      "left"
      "right"
      "footer";

    padding: 30px 20px;
  }
}

.left {
  display: grid;
  grid-template-areas:
    "image image"
    "title subtitle";
  gap: 20px;
}
.left-image {
  grid-area: image;
}
.left-title {
  grid-area: title;
}
.left-subtitle {
  grid-area: subtitle;
}
@media only screen and (max-width: 600px) {
  .left {
    grid-template-areas:
      "image"
      "title"
      "subtitle";
  }
}

/* COMPONENT STYLES */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: block;
}
.mobile-menu {
  display: none;
}
@media only screen and (max-width: 600px) {
  .links {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}

.links a,
.mobile-links a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  margin-left: 30px;
}

.links a:hover,
.mobile-links a:hover {
  color: var(--soft-red);
}

.mobile-links {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--off-white);
  overflow-x: hidden;
  transition: 0.5s;
}

.mobile-links img {
  height: 40px;
  width: 40px;
  margin: 30px 30px 100px auto;
}

.mobile-links a {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.left-image img {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .left-image img {
    height: 300px;
    object-fit: cover;
  }
}

.left-title h1 {
  color: var(--very-dark-blue);
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 3.5rem;
  letter-spacing: -1px;
}

.left-subtitle p {
  color: var(--dark-grayish-blue);
  line-height: 1.5rem;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

.left-subtitle button {
  padding: 15px 30px;
  background: var(--soft-red);
  color: var(--off-white);
  border: none;
  font-weight: 700;
  letter-spacing: 0.3rem;
  cursor: pointer;
}

.left-subtitle button:hover {
  background: var(--very-dark-blue);
}

.right {
  background: var(--very-dark-blue);
  padding: 25px 20px;
}

.right h1 {
  color: var(--soft-orange);
  margin-bottom: 25px;
}

.right h2 {
  color: var(--off-white);
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.right h2:hover {
  color: var(--soft-orange);
  cursor: pointer;
}

.right p {
  color: var(--grayish-blue);
  line-height: 1.5rem;
  letter-spacing: -1px;
  margin-bottom: 25px;
}

.right hr {
  border: none;
  height: 1px;
  background: var(--dark-grayish-blue);
  margin-bottom: 25px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    margin-top: 0;
  }
}

.footer-item {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 30%;
}
@media only screen and (max-width: 600px) {
  .footer-item {
    width: 100%;
    margin-bottom: 30px;
  }
}

.footer-item img {
  height: 120px;
}

.item-content {
  padding-left: 20px;
}

.item-content h1 {
  color: var(--grayish-blue);
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.item-content h2 {
  color: var(--very-dark-blue);
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.item-content h2:hover {
  color: var(--soft-red);
  cursor: pointer;
}

.item-content p {
  color: var(--dark-grayish-blue);
  font-size: 0.8rem;
  line-height: 1.5rem;
}
